node_modules
dist
.tmp
.sass-cache
app/bower_components

.ftppass

slim/bank/passwords.json

slim/.passwords

slim/db/.passwords

slim/routes/.passwords

slim/bank/.passwords

slim/db/db.conf

Login.rstst

slim/cookies.txt

coverage/**/*.html

*.pass

coverage/Chrome 34.0.1847 (Mac OS X 10.9.2)/scripts/services.js.html

coverage/Chrome 34.0.1847 (Mac OS X 10.9.2)/scripts/index.html

coverage/Chrome 34.0.1847 (Mac OS X 10.9.2)/scripts/controllers/sync.js.html

coverage/Chrome 34.0.1847 (Mac OS X 10.9.2)/scripts/controllers/pockets.js.html

coverage/Chrome 34.0.1847 (Mac OS X 10.9.2)/scripts/controllers/index.html

coverage/Chrome 34.0.1847 (Mac OS X 10.9.2)/scripts/controllers/goals.js.html

coverage/Chrome 34.0.1847 (Mac OS X 10.9.2)/index.html

coverage/Chrome 34.0.1847 (Mac OS X 10.9.2)/scripts/app.js.html

coverage/Chrome 34.0.1847 (Mac OS X 10.9.2)/scripts/controllers.js.html
