<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Pocket</h2>
            <div class="panel panel-default">
                <div class="panel-body">
                    <button class="btn btn-default"><i class="fa fa-refresh"></i>
                    </button>
                    <button class="btn btn-default pull-right"><i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="alert alert-info">
                Last Synced X MINUTES AGO
            </div>

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="goal in goals | orderBy:'nextDue'">
                    <div class="row">
                        <!-- Available amount -->
                        <div class="col-xs-1">
                            ${{ goal.availableAmount | number:2 }}
                        </div>
                        <!-- /Available amount -->

                        <!-- Description -->
                        <div class="col-xs-11">
                            <div>
                                <strong>{{ goal.for}}</strong>
                            </div>
                            <div>
                                ${{ goal.goalAmount }} available on {{ goal.nextDue * 1000 | date:'EEE d MMMM yyyy' }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10">
                        I {{ goal.type }}
                        <strong>${{ goal.goalAmount }}</strong>
                        for
                        <strong>{{ goal.for}}</strong>
                        <span ng-show="goal.repeat">
                            every {{ goal.repeat }}
                        </span>
                        <span>

                        </span>
                        <span>{{ goal.availableAmount }} {{ goal.savedAmount}}</span>

                        <h5>Available Balance: ${{ goal.availableAmount | number:2}}</h5>
                        <small>${{ goal.goalAmount }} available on {{ goal.nextDue * 1000 | date:'EEE d MMMM yyyy' }}</small>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width: {{ goal.availableAmount / goal.goalAmount * 100 }}%" tooltip="{{ goal.availableAmount / goal.goalAmount * 100 | number:0 }}% - ${{ goal.availableAmount | number:2 }} / ${{ goal.goalAmount | number:2 }}">
                                <span class="sr-only">{{ goal.availableAmount / goal.goalAmount }}% {{ goal.for }}</span>
                            </div>
                        </div>

                        <div class="progress">
                            <div class="progress-bar progress-bar-info" style="width: {{ goal.savedAmount / goal.goalAmount * 100 }}%" tooltip="{{ goal.savedAmount / goal.goalAmount * 100 | number:0 }}% - ${{ goal.savedAmount | number:2 }} / ${{ goal.goalAmount | number:2 }}">
                                <span class="sr-only">{{ goal.savedAmount / goal.goalAmount }}% {{ goal.for }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" style="text-align: right;">
                        <button class="btn btn-default btn-xs" ui-sref="goals.edit({goalId: goal.id})">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button class="btn btn-default btn-xs" ng-click="deleteGoal(goal)">
                            <i class="fa fa-trash-o"></i>
                        </button>

                    </div>
                </li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>

            <ul>
                <li ng-repeat="(reason, amount) in pockets">{{ reason}} - ${{ amount | number:2 }}</li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Today</h3>
                    <div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width: {{ slice.percent }}%" tooltip="{{ slice.percent | number:0 }}% - {{ slice.label }} ${{ slice.amount | number:2 }}" ng-repeat="slice in slices" ng-class="{'progress-bar-success': $index % 2, 'progress-bar-info': !($index % 2)}">
                                <span class="sr-only">{{ slice.percent }}% {{ slice.label }}</span>
                            </div>

                            <div class="progress-bar progress-bar-warning" style="width: {{ 100 - dailyPercentAllocated }}%" tooltip="Unallocated ${{ dailyUnallocated | number:2 }}">
                                <span class="sr-only">Unallocated</span>
                            </div>

                        </div>
                        <div>
                            ${{ user.income / user.incomePeriod | number:2 }} / day - Allocated: ${{ dailyAllocated | number:2 }} ({{ dailyPercentAllocated | number:0 }}%) - Remaining: ${{ dailyUnallocated | number:2 }}
                        </div>

                        <ul>
                            <li ng-repeat="slice in slices | orderBy:'-percent'">
                                {{ slice.percent | number:1 }}% - ${{ slice.amount | number:2 }} {{ slice.label }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <button class="btn btn-default pull-right" ui-sref="goals.add"><i class="fa fa-plus"></i> Add Goal</button>
            <h2>Goals</h2>

            <div ng-show="$state.includes('goals.add')">
                <form action="">
                    <div class="form-group">
                        <label>Type</label>
                        <select class="form-control" ng-model="goal.type">
                            <option value="need">Need</option>
                            <option value="want">Want</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Amount</label>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="number" class="form-control" ng-model="goal.goalAmount">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>For</label>
                        <input type="text" class="form-control" ng-model="goal.for">
                    </div>
                    <div class="form-group">
                        <label>Due</label>
                        <input type="date" class="form-control" ng-model="goal.firstDue">
                    </div>
                    <div class="form-group">
                        <label>Repeat</label>
                        <select class="form-control" ng-model="goal.repeat">
                            <option value="none">Never</option>
                            <option value="day">Every Day</option>
                            <option value="weekday">Every Week Day</option>
                            <option value="week">Every Week</option>
                            <option value="fortnight">Every Fortnight</option>
                            <option value="month">Every Month</option>
                            <option value="quarter">Every Quarter</option>
                            <option value="year">Every Year</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="addGoal(goal)">Add</button>
                </form>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-body">
                    <h4>Loose Change</h4>
                    <h5>Available Balance ${{ user.ownAccount[0].available_amount }}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-repeat="goal in goals | orderBy:'nextDue'">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row" ng-show="$state.includes('goals.edit', {goalId: goal.id})">
                        <div class="col-md-12">
                            <form action="">
                                <div class="form-group">
                                    <label>Type</label>
                                    <select class="form-control" ng-model="goal.type">
                                        <option value="need">Need</option>
                                        <option value="want">Want</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Amount</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="number" class="form-control" ng-model="goal.goalAmount" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>For</label>
                                    <input type="text" class="form-control" ng-model="goal.for">
                                </div>
                                <div class="form-group">
                                    <label>Due</label>
                                    <input type="date" class="form-control" ng-model="goal.firstDue">
                                </div>
                                <div class="form-group">
                                    <label>Repeat</label>
                                    <select class="form-control" ng-model="goal.repeat">
                                        <option value="none">Never</option>
                                        <option value="day">Every Day</option>
                                        <option value="weekday">Every Week Day</option>
                                        <option value="week">Every Week</option>
                                        <option value="fortnight">Every Fortnight</option>
                                        <option value="month">Every Month</option>
                                        <option value="quarter">Every Quarter</option>
                                        <option value="year">Every Year</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary" ng-click="updateGoal(goal)">Update</button>
                                <button type="submit" class="btn btn-default" ui-sref="goals">Cancel</button>
                            </form>
                        </div>
                    </div>
                    <div class="row" ng-hide="$state.includes('goals.edit', {goalId: goal.id})">
                        <div class="col-md-10">
                            I {{ goal.type }}
                            <strong>${{ goal.goalAmount }}</strong>
                            for
                            <strong>{{ goal.for}}</strong>
                            <span ng-show="goal.repeat">
                                every {{ goal.repeat }}
                            </span>
                            <span>

                            </span>
                            <span>{{ goal.availableAmount }} {{ goal.savedAmount}}</span>

                            <h5>Available Balance: ${{ goal.availableAmount | number:2}}</h5>
                            <small>${{ goal.goalAmount }} available on {{ goal.nextDue * 1000 | date:'EEE d MMMM yyyy' }}</small>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" style="width: {{ goal.availableAmount / goal.goalAmount * 100 }}%" tooltip="{{ goal.availableAmount / goal.goalAmount * 100 | number:0 }}% - ${{ goal.availableAmount | number:2 }} / ${{ goal.goalAmount | number:2 }}">
                                    <span class="sr-only">{{ goal.availableAmount / goal.goalAmount }}% {{ goal.for }}</span>
                                </div>
                            </div>

                            <div class="progress">
                                <div class="progress-bar progress-bar-info" style="width: {{ goal.savedAmount / goal.goalAmount * 100 }}%" tooltip="{{ goal.savedAmount / goal.goalAmount * 100 | number:0 }}% - ${{ goal.savedAmount | number:2 }} / ${{ goal.goalAmount | number:2 }}">
                                    <span class="sr-only">{{ goal.savedAmount / goal.goalAmount }}% {{ goal.for }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2" style="text-align: right;">
                            <button class="btn btn-default btn-xs" ui-sref="goals.edit({goalId: goal.id})">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button class="btn btn-default btn-xs" ng-click="deleteGoal(goal)">
                                <i class="fa fa-trash-o"></i>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>
                <h2>Setup</h2>
                <form action="">
                    <div class="form-group">
                        <label>Income</label>
                        <input type="text" class="form-control" ng-model="user.income">
                    </div>
                    <div class="form-group">
                        <label>Period</label>
                        <select ng-model="user.incomePeriod">
                            <option value="7">Weekly</option>
                            <option value="14">Fortnightly</option>
                            <option value="28">Monthly</option>
                        </select>
                    </div>
                </form>
                <pre>
                    {{ user | json }}
                </pre>
            </div>
        </div>
    </div>
</div>
