<div class="container">

    <div class="panel panel-default">
        <div class="panel-body">
            <button class="btn btn-default pull-left" ui-sref="goals.index"><i class="fa fa-angle-left"></i>
            </button>
            <button class="btn btn-default pull-right" style="visibility: hidden;"><i class="fa fa-angle-left"></i>
            </button>
            <h2 style="text-align: center;">Goal</h2>

        </div>
    </div>

    <form ng-submit="save(goal)" name="form">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" ng-model="goal.name" placeholder="Name e.g. Fuel" required>
        </div>
        <div class="form-group">
            <label>Amount</label>
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control" ng-model="goal.amount" placeholder="Amount e.g. 30.00" required>
            </div>
        </div>
        <div class="form-group" ng-show="goal.savings">
            <label>Amount Saved Already</label>
            <div>
                ${{ goal.savings | number:2 }}
            </div>
        </div>
        <div class="form-group">
            <label>Due</label>
            <div class="well well-sm" ng-model="goal.$dueDate">
                <datepicker min="goal.$dueMin" show-weeks="showWeeks"></datepicker>
            </div>
        </div>


        <div class="form-group" ng-show="goal.$dueDate && goal.amount">
            <label>Allocation</label>
            <div>
                ${{ goal.$allocation | number:2 }} of ${{ (user.income / user.incomePeriod) | number:2 }} per day ({{ goal.$allocation / (user.income / user.incomePeriod) * 100 | number:0 }}%)
            </div>

            <div ng-show="user.dailyIncomeAllocated - goal.daily + goal.$allocation > user.dailyIncome">
                <strong>Warning:</strong>
                This will exceed your daily budget.

                <div class="progress">
                    <div class="progress-bar progress-bar-danger" style="width: 100%">
                    </div>
                </div>
            </div>

            <div ng-show="user.dailyIncomeAllocated - goal.daily + goal.$allocation < user.dailyIncome">
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" style="width: {{ goal.$allocation / user.dailyIncome * 100 }}%" tooltip="${{ goal.$allocation | number:2 }} {{ goal.name }}">
                    </div>
                    <div class="progress-bar progress-bar-used" style="width: {{ (user.dailyIncomeAllocated - goal.daily)/ user.dailyIncome * 100 | number:0 }}%" tooltip="${{ user.dailyIncomeAllocated | number:2 }} allocated">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Repeat</label>
            <select class="form-control" ng-model="goal.repeat" required>
                <option value="none">Never</option>
                <option value="day">Every Day</option>
                <option value="weekday">Every Week Day</option>
                <option value="week">Every Week</option>
                <option value="fortnight">Every Fortnight</option>
                <option value="month">Every Month</option>
                <option value="quarter">Every Quarter</option>
                <option value="year">Every Year</option>
            </select>
        </div>
        <button class="btn btn-primary form-control" ng-disabled="form.$invalid">{{ goal.id && 'Update Goal' || 'Add Goal' }}</button>
    </form>
</div>
